:root {
    --primary: #0066CC;
    --secondary: #004080;
    --tertiary: #003569;
    --footer: #01254C;
    --white: #FFFFFF;
    --grey: #F5F9FC;
    --box: #17324D;
}

body {
    font-family: "Titillium Web";
    font-size: 16px;
    overflow-x: hidden;
}

h1 { font-size: 40px; }
h2 { font-size: 32px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }

h1, h2, h3, h4 { font-weight: 700; }

h5 { font-size: 20px; font-weight: 400; }
h6 { font-size: 16px; font-weight: 600; }

.large-title, .numbers { font-size: 40px;}

@media only screen and (min-width: 768px) {
h1 { font-size: 56px; line-height: 64px; }
h2 { font-size: 48px; line-height: 60px; }
h3 { font-size: 40px; }
h4 { font-size: 32px; line-height: 40px; }

h1, h2, h3, h4 { font-weight: 700; }

h5 { font-size: 28px; font-weight: 600; }
h6 { font-size: 24px; font-weight: 400; }

.large-title, .numbers { font-size: 56px;}
.page-title{ min-width: 750px;}
}

/* Box */
.box-numbers {font-size: 36px; font-weight: 300; line-height: 1; margin-bottom: 5px;}
.box-card {min-height: 150px; color: #FFFFFF;}
.box-text {font-weight: 300; }
.box-label {font-size: 13px; }
.box-left {position: relative; top: -55px;left: 40px; }
.box-right {position: relative; top: -55px;right: 40px; }
.box-mobile {position: relative; min-height: 150px;}
.box-logo-right {z-index: 10; position: absolute; top: -30px; right: -45px;}
.box-logo-left {z-index: 10; position: absolute; top: -30px; left: -45px;}

/* Background */
.bg-primary { background-color: var(--primary); }
.bg-secondary { background-color: var(--secondary) }
.bg-tertiary { background-color: var(--tertiary); }
.bg-box { background-color: var(--box); }
.bg-grey { background-color: var(--grey); }


.nav-banner {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    background: #013366;
    padding-top: 4px;
    padding-top: 0.4rem;
}

/* Legend */
.map-legend {
    position: absolute;
    top: 35px;
    right: -10px;
    color:#000000;
}

.legend {
    color: white;
    margin-left: 10px;
}

.legend-dark {
    color: #000000;
    margin-left: 10px;
}

/* Section Title */
.section-title {
    background-color: var(--grey);
    min-height: 200px;
    margin-top: 5%;
    text-align: center;
}

.section-title.small {
    min-height: 130px;
}

/* Map Graph */

.country:hover {
    fill: #0BD9D3;
    cursor: pointer;
}

.paginate_button {
    padding-right: 3px;
}

.logo-section {
    height: 60px;
}

.logo-section a {
    display: inline-block;
    color: white;
    align-items: center;
}
.logo-section p {
    margin: auto 0;
}

.logo-section a:hover {
    color: white;
}

.main-logo {
    height: 150px;
    float: left;
    pointer-events: none;
    position: relative;
    top: 25px;
}

.center-logo{
    width: calc(50% + 80px);
    overflow: auto;
    margin: auto;
    position: absolute;
    top: -50px;
    right: 0;
}

.logo {
    height: 40px;
    float: left;
    pointer-events: none;
}

.mainBanner {
    background-color: var(--primary);
    color: white;
    align-items: center;
}

.table thead {
    border-bottom: black 1px solid;
}

.table td:first-child,
.table th:first-child {
    border-right: black 1px solid;
}

.table th {
    padding: 5px !important;
    font-size: 18px;
    border-bottom: 1px solid #0f0f0f !important;
}

.table td {
    padding: 5px !important;
    font-size: 18px;
    border-bottom: 0px solid transparent !important;
}

.table th:nth-child(n+2),
.table td:nth-child(n+2) {
    text-align: right !important;
}

.bg-bar {
    fill: var(--box);
    stroke: var(--box);
}

footer a {
    color: white;
    margin: 0 8px 0 8px;
    text-decoration: underline;
}

footer a:hover {
    color: #0BD9D3;
}


@media (max-width: 992px) {
  .map-area{
    zoom:0.77;
  }
}

.box-loader {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 4px;
  }

  table.dataTable {
    font-size: 15px;
}

.table.deliveries-table th:nth-child(n+2) {
    text-align: right !important;
    padding-left: 15px !important;
    padding-right: 10px !important;
}

.table.deliveries-table td:nth-child(n+2) {
    padding-left: 15px !important;
    padding-right: 10px !important;
}

table.dataTable.deliveries-table {
    margin-top: 20px !important;
}

table.dataTable.deliveries-table>thead .sorting:after, table.dataTable.deliveries-table>thead .sorting:before,
table.dataTable.deliveries-table>thead .sorting_asc:after, table.dataTable.deliveries-table>thead .sorting_asc:before {
    bottom: 1.3em !important;
}
span.border-divider{
    border-top: 1px solid #b1b1b3!important;
    width: 50%;
    align-self: center;
}

.button-header {
    background: white;
    border-radius: 5px;
    padding: 3px 15px;
    text-decoration: none;
    height: 35px;
    float: right;
    position: relative;
}
.button-header:hover {
    text-decoration: none;
}
.vertical-align {
    margin: auto 0;
}
.flag_container {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 100%;
    clear: both;
    transition: all 0.4s ease;
    top: 60px;
}
.flag_container div {
    width: 33.3333333333%;
    height: 8px;
    overflow: hidden;
    float: left;
}
.flag_container div.green {
    background: #009246;
}
.flag_container div.white {
    background: #ffffff;
}
.flag_container div.red {
    background: #ce2b37;
}

footer {
    background: #30373d;
    color: #a5abb0;
    min-height: 200px;
    min-height: 20rem;
    padding: 10px;
    padding: 1rem;
    padding-top: 50px;
    padding-top: 5rem;
}
.footer-title {
    font-weight:normal;
    font-size:27px;
    margin-top: 0;
    color: #fff;
}

footer img {
    width: 60px;
    height: 60px;
    margin-right: 1.5rem;
}

footer .footer-links {
    margin-top: 50px;
    margin-top: 5rem;
    padding: 0;
    border-top: 1px solid #65dcdf;
}

footer .footer-links li {
    list-style-type: none;
    display: inline-block;
    margin-right: 50px;
}

footer a {
    color: #65dcdf;
}


.social-section {
    margin-top:0.5em;
}
@media only screen and (min-width: 991px) {
    .social-section {
        text-align:right;
    }
}

.social-footer a {
    padding-left: 5px;
    text-decoration: none;
}

.social-footer span {
    color: transparent;
    font-size: 0px;
}

.button-open-data {
    color: black;
    background: #65dcdf;
    border-radius: 5px;
    padding: 3px 15px;
    text-decoration: none;
    height: 35px;
}

@media only screen and (max-width: 890px) {
    .row-header-div {
        display: block;
        padding-bottom: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 890px)  {
    .row-header-div .vertical-align {
        max-width: 90%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px)  {
    .no-grid {
        max-width: 100%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px)  {
    .bg-footer .container:first-child .row {
        display: block;
    }
}

.flag-green {
    border-bottom: 3px solid green;
}

.flag-red {
    border-bottom: 3px solid red;
}
